body{
  // background-color: lightblue;
  text-align: center;
  // color: red;
}
iframe{
  margin-top: 20px;
  // border: 20px solid black;
}
.navbar-fixed-bottom{
  margin-top: 20px;
  padding: 10px;
}
.main{
  margin-bottom: 50px;
  background-color: lightblue;
}
